body{
    margin: 5;
    padding: 6;
}
p{
    color: coral;
    font-size: 50px;
}
h1{
    color: aqua;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.title-1{
    color: rgb(170, 146, 146);
    font-size: 15px;
}

#title-2{
    color: green;
    font-size: 200px;
}

ul li {
    background-color: aqua;
    color: black;
    font-size: 20px;
}

input[type="text"]{
    width: 500px;
}

input[type="button"]{
    width: 300px;
}